<div class="senha-container">
     <div class="senha-direita">
        <img src="../../../assets/imgs//Capa de login (2).svg" alt="">
     </div>    
    <div class="senha-esquerda">
            <div class="card-senha">
                <h1>Esqueceu a senha?</h1>
                <p>Insira o endereço de e-mail que você usou quando se inscreveu e lhe enviaremos instruções para redefinir sua senha.</p>
                <form id ="form" class="forms">
                    <div class="senha-conteudo">
                        <label for="email" id="label">Email</label>
                        <input type="text" id="email" name="email" placeholder="Digite seu email" [formControl]="email">
                    </div>
                    <div class="senha-conteudo">
                        <div class="buttons">
                            <button class="botao-receber" (click)="submit()">Receber instruções por e-mail</button>
                            <button class="botao-cancelar" routerLink="/login">Cancelar</button>
                        </div> 
                    </div>
                    <div class="campo-invalid" *ngIf="submitted">
                        <p class="invalid" *ngIf="this.campoNotPreenchido()">
                        Preencha o campo de Email!
                        </p>
                    </div>
                </form>
            </div>
    </div>    
</div>
