<app-header-voltar texto="Cadastrar Módulo" caminhoVoltar="/cadastros"></app-header-voltar>
<div class="cadastro-modulo-pagina">
  <div class="cadastro-modulo-container">
    <h2 class="cadastro-modulo-titulo">Cadastrar Módulo</h2>
    <p class="cadastro-modulo-aviso">* Indica campos obrigatórios</p>
    <form [formGroup]="moduloForm" (ngSubmit)="onSubmit()">
      <div class="cadastro-modulo-campos-inline">
        <div class="cadastro-modulo-campo">
          <label for="nome_modulo" class="cadastro-modulo-label">Nome do Módulo<span> *</span></label>
          <input id="nome_modulo"  placeholder="Nome do Módulo" class="cadastro-modulo-input" formControlName="nome_modulo" (input)="gerarUrlAmigavel()" />
        </div>
        <div class="cadastro-modulo-campo">
          <label for="nome_url" class="cadastro-modulo-label">URL do Módulo<span> *</span></label>
          <input id="nome_url" class="cadastro-modulo-input" formControlName="nome_url" readonly />
        </div>
      </div>
      <div class="cadastro-modulo-campo">
        <label for="ebookUrlGeral" class="cadastro-modulo-label">Ebook URL Geral<span> *</span></label>
        <input
          id="ebookUrlGeral"
          type="text"
          placeholder="Digite a URL do ebook"
          class="cadastro-modulo-input"
          formControlName="ebookUrlGeral"
        />
      </div>
      <div class="cadastro-modulo-campo">
        <label for="video_inicial" class="cadastro-modulo-label">Vídeo Inicial<span> *</span></label>
        <input id="video_inicial" placeholder="URL do video inicial" class="cadastro-modulo-input" formControlName="video_inicial" />
      </div>
      <div class="cadastro-modulo-buttons">
        <button type="button" routerLink="/cadastros" id="botao-um">Cancelar</button>
        <button type="submit" [disabled]="moduloForm.invalid" id="botao-dois">Criar novo módulo</button>
      </div>
    </form>
  </div>
</div>
