<div class="container-cadastro">
  <p class="cadastro-description">
    Selecione uma opção para cadastrar um novo usuário, plataforma ou módulo.
  </p>

  <hr class="cadastro-divider" />

  <div class="cards-row">
    <app-cards-cadastro
      nomeCard="Usuário"
      caminhoImagem="assets/icons/btn_card_usuario.svg"
      caminhoUrl="../cadastro-usuario"
    ></app-cards-cadastro>

    <app-cards-cadastro
      nomeCard="Módulo"
      caminhoImagem="assets/icons/btn_card_modulo.svg"
      caminhoUrl="../registrar-modulo"
    ></app-cards-cadastro>

    <app-cards-cadastro
      nomeCard="Plataforma"
      caminhoImagem="assets/icons/btn_card_plataforma.svg"
      caminhoUrl="../cadastro-plataforma"
    ></app-cards-cadastro>
  </div>
</div>
