.cadastro-plataforma-pagina {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1E1E1E;
  height: 88vh;
}

.cadastro-plataforma-container {
  background-color: #2E2E2F;
  width: 50%;
  border-radius: 40px;
  padding: 0 2.5rem;
  border-top: 8px solid #7C4CC6;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.35);
  position: relative;
}

.cadastro-plataforma-container::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 115px;
  margin: 0 auto;
  width: 90%;
  height: 1px;
  background: rgba(255, 255, 255, 0.1);
}

.cadastro-plaforma-aviso {
  padding: 25px 0 10px 0;
}

.cadastro-plataforma-titulo, .cadastro-plataforma-label {
  color: #FFFFFF;
  padding: 10px 0;
}

.cadastro-plataforma-titulo{
  text-align: center;
  padding: 20px 0 20px 0;
  border-bottom: 2px solid #7C4CC6;
}

.cadastro-plataforma-label span, .cadastro-plaforma-aviso, .validators {
  color: #C64C4C;
}

.forms-campo {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}

.campos-inline {
  display: grid;
  grid-template-columns: 48% 48%;
  justify-content: space-between;
}

.cadastro-plataforma-input {
  height: 35px;
  border: none;
  border-radius: 10px;
  background-color: #3F3F40;
  color: #FFFFFF;
  padding-left: 10px;
  margin: 8px 0;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  column-gap: 20px;
  padding: 30px 15px 30px 30px;
}

.buttons button {
  padding: 7px;
  width: 145px;
  border: none;
  color: #FFFFFF;
  border-radius: 10px;
}

#botao-um {
  background-color: transparent;
  border: 3px solid #7C4CC6;
}

#botao-dois {
  background: linear-gradient(135deg, #7C4CC6 0%, #5300F9 100%);
  white-space: nowrap;
  padding: 7px 20px;
  min-width: 190px;
}

.validators {
  text-align: center;
  padding-bottom: 10px;
}