<div class="container-plataformas">
  <app-titulo-secao
    titulo="Plataformas"
    caminhoUrl="../cadastro-plataforma"
    [quantidade]="pagination.totalItems"
    nomeCard="plataformas"
  ></app-titulo-secao>

  <div class="container-cards-plataformas">
    <div class="card" *ngFor="let plataforma of plataformas">
      <app-cards-plataformas
        [plataforma]="plataforma"
        (excluirPlataforma)="excluirPlataforma($event)"
      ></app-cards-plataformas>
    </div>
  </div>

  <!-- Componente de paginação reutilizável -->
  <app-pagination 
    [pagination]="pagination"
    noItemsMessage="Nenhuma plataforma encontrada"
    itemsLabel="plataformas"
    (pageChange)="onPageChange($event)">
  </app-pagination>
</div>

