<app-header-oficial></app-header-oficial>
<div class="container">
  <div class="sobre-nos">
    <div class="titulos">
      <h2 style="margin-top: 1.5rem;">Sobre</h2>
    </div>
    <section class="section">
      <section class="descricao">
        <h1 class="titulo">TECNOCOMP+: Saberes Digitais</h1>
        <h3 class="descricao-titulo">Descrição</h3>
        <div class="descricao-imagem">
          <p>
            “Tecnocomp+: Saberes Digitais” é uma iniciativa do Curso de
            Licenciatura em Computação que visa conectar estudantes e a
            sociedade por meio de atividade de extensão. Oferece cursos online
            sobre tecnologias digitais, promovendo o aprofundamento de
            conhecimentos.
          </p>
        </div>
        <p style="font-size: 18px;">Versão da Plataforma: 1.0.0</p>
      </section>
      <img src="../../../../assets/logo_tec.png" class="logo" alt="" />
    </section>

  </div>

  <!-- card da equipe do projeto -->
  <section class="content-container-ficha-tecnica-equipe">
    <div class="content-container-ficha-tecnica-equipe-caixa"></div>

    <div class="content-container-ficha-tecnica-equipe-caixa-teste">
      <!-- Nome de uma equipe é exibida de acordo com o valor da variável currentVideoIndex -->
      <h1>{{ cardEquipes[currentVideoIndex].equipe | uppercase }}</h1>

      <!-- Simbolo de voltar para o anterior que quando clicado muda a equipe exibida -->
      <div class="ficha-tecnica-container">
        <img
          src="../../../../assets/icons/previous2.svg"
          alt="simbolo de ir para o proximo"
          (click)="prevVideo()"
          style="cursor: pointer"
        />
        <!-- Estilo aplicado de acordo com o valor retornado do método elementMembros() -->
        <div
          [ngClass]="{
          'container-membros1': elementMembros() == 1,
          'container-membros2': elementMembros() == 2,
          'container-membros3': elementMembros() == 3,
          }"
          class="container-membros"
        >
          <!-- Percorre o vetor de objetos cardEquipes para exibir o cargo e nome dos membros -->
          <div
            class="ficha-tecnica-container-card"
            *ngFor="let membro of cardEquipes[currentVideoIndex].membros"
          >
            <p class="cargo-membro">{{ membro.cargo }}</p>
            <div class="ficha-tecnica-container-card-conteudo">
              <div
                [ngStyle]="{ 'background-image': 'url(' + membro.image + ')' }"
                class="img-membro"
              ></div>
              <p class="nome-membro">{{ membro.nome }}</p>
            </div>
          </div>
        </div>
        <!-- Simbolo de ir para o próximo que quando clicado muda a equipe exibida -->
        <img
          (click)="nextVideo()"
          style="cursor: pointer"
          src="../../../../assets/icons/next2.svg"
          alt="simbolo de ir para o proximo"
        />
      </div>
      <!-- botões de navegação para trocar a equipe exibida -->
      <div class="navigation-button">
        <ul>
          <li
            *ngFor="let video of cardEquipes; index as i"
            [ngClass]="{
              active: i === currentVideoIndex,
              teste: i !== currentVideoIndex
            }"
            (click)="selectVideo(i)"
          >
            <!-- o índice + 1 para representar o número dos botões -->
            {{ i + 1 }}
          </li>
        </ul>
      </div>
    </div>
  </section>
  <app-footer-ficha></app-footer-ficha>
</div>

<!-- <img src=""> -->