:host{
  height: 100%;
}

.video-section {
  width: 100%;
  height: 70%;
}

section {
  width: 100%;
  height: 100%; 
  text-align: center;
}
i {
  display: block;
  color: #c8d7ff;
  font-size: 14px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: wrap;
  text-shadow: 0px 0px 2.5px #dddddd;
  margin-bottom: 10px;
}

.video-container {
  margin: 0 auto;
  width: 80%;
  height: 85%;
}

.video-container iframe {
  width: 90%;
  height: 100%;

  border: 2px solid #5663ed;
  border-radius: 0.625rem;
  box-shadow: 1px 0px 7px 0px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 1px 0px 7px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 1px 0px 7px 0px rgba(255, 255, 255, 0.75);
}

@media(max-width: 899px){

}

@media(max-width: 489px){
    .video-container{
      width: 100%;
    }
}
