
.container {
  background: linear-gradient(
      167deg,
      rgba(61, 34, 102, 0.7) 3.02%,
      rgba(34, 25, 72, 0.42) 24.84%,
      rgba(16, 19, 53, 0.24) 54.42%,
      rgba(11, 20, 69, 0.37) 77.21%,
      rgba(34, 45, 102, 0.7) 100%
    ),
    #000;
  color: white;
  font-family: Arial;
  width: 100%;
  padding-top: 40px;
}
.container-conteudo {
  width: 90%;
  margin: 0 auto;
  padding-top: 40px;
  color: #fff;
  font-family: Arial;
  font-size: 22px;
  /* font-style: normal; */
  /* font-weight: 400; */
  line-height: normal;
  padding-bottom: 40px;
}
.container-cima h1 {
  color: #ffffff;
  font-family: Arial;
  font-size: 35px;
  /* font-style: normal; */
  /* font-weight: 700; */
  line-height: normal;
  margin: 0 0 16px;
}
.container-cima p {
  margin: 40px 0;
  font-size: 25px;
}
.container-conteudo .bloco {
  margin: 40px 0;
}
.bloco p{
  color: #AAA;
  font-size: 22px;
  font-family: Arial;
}
h2{
  margin-top: 40px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 16px;
}

.laboratorios .bloco p{
  margin: 10px 0;
}

hr{
  height: 2px;
  background-color: #FFFFFF26;
  border: none;
  outline: none;
}


@media (max-width: 489px) {
  .container-cima h1{
    margin-top: 1.5rem;
  } 
}