<app-header-oficial></app-header-oficial>
<div class="container">
  <div class="container-conteudo">
    <div class="container-cima">
      <h1>Ficha Técnica</h1>
      <hr style="background-color: white" />
      <div class="bloco">
        <h2>Nome do Módulo:</h2>
        <p>{{ this.verAoVivo.dados_completos.nome_modulo }}</p>
      </div>
      <hr />
<!--       <div class="bloco">
        <h2>Versão do Módulo:</h2>
        <p>1.0.0</p>
      </div>
      <hr /> -->
      <div class="bloco">
        <h2>Coordenação Geral:</h2>
        <p>Prof. Dr. João da Mata Libório Filho</p>
      </div>
      <hr />
    </div>
    <div class="equipe">
      <h2>Equipe de Produção Educacional:</h2>

      <div class="bloco">
        <h2>Instrutor(a)</h2>
        <p>Yasmim Bianca Moraes Barreto</p>
      </div>

      <div class="bloco">
        <h2>Designer Instrucional</h2>
        <p>Jorge Mikael Coutinho</p>
      </div>

      <div class="bloco">
        <h2>Designer Gráfico</h2>
        <p>Adriene Chaves dos Santos</p>
      </div>

      <div class="bloco">
        <h2>VideoMaker</h2>
        <p>Jorge Mikael Coutinho</p>
      </div>
      <div class="bloco">
        <h2>Social Media</h2>
        <p>Adriene Chaves dos Santos</p>
      </div>
      <hr />
    </div>
    <div class="equipe">
      <h2>Equipe de Desenvolvimento:</h2>

      <div class="bloco">
        <h2>Designer UX/UI:</h2>
        <p>Livia Ferreira Monteiro</p>
      </div>

      <div class="bloco">
        <h2>Desenvolvedor Frontend:</h2>
        <p>Andriw Santos de Souza</p>
      </div>
      <div class="bloco">
        <h2>Desenvolvedor Full Stack:</h2>
        <p>Henrique dos Santos Galvim</p>
      </div>
      <div class="bloco">
        <h2>Desenvolvedor Frontend:</h2>
        <p>Kauê Wallace Coelho Olimpio</p>
      </div>

      <div class="bloco">
        <h2>Analista de Teste:</h2>
        <p>Harleison Jhonathan Maia de Souza</p>
      </div>
      <hr />
    </div>
    <div class="laboratorios">
      <div class="bloco">
        <h2>Laboratorios envolvidos:</h2>
        <p>Laboratorio de Design</p>
        <p>Laboratorio de Midia</p>
        <hr />
      </div>

<!--       <div class="bloco">
        <h2>Lançamento:</h2>
        <p>Itacoatiara, dezembro de 2024</p>
        <hr />
      </div> -->
      <div class="bloco">
        <h2>Financiamento:</h2>
        <h2>
          Este projeto foi realizado com recursos oriundos dos seguintes
          editais:
        </h2>
        <p>
          Edital 073/2023-GR/UEA - Programa de Apoio ao Desenvolvimento da
          Extensão Universitária (PADEX)
        </p>
        <p>
          Edital 024/2023-GR/UEA - Programa de Apoio à Iniciação Científica
          (PAIC/FAPEAM)
        </p>
        <p>
          Edital 053/2024-GR/UEA - Programa de Tutoria em Laboratórios de
          Pesquisa e Ensino da UEA (PROTLAB/UEA)
        </p>
      </div>
      <div class="bloco">
        <h2>
          Universidade do Estado do Amazonas(UEA), Centro de Estudos Superiores
          de Itacoatiara(CESIT).
        </h2>
        <p>
          Av. Mário Andreazza, 2960 - Jardim Florestal - 69100-000 - Itacoatiara
          - AM
        </p>
        <hr />
      </div>
      <div class="bloco">
        <h2>Licença:</h2>
        <p>Este módulo está licenciado sobre:</p>
        <p>Creative Commons 4.0</p>
        <img
          src="../../../../assets/icons/ficha-tecnica-icon.svg"
          alt="licença"
        />
      </div>
    </div>
  </div>
</div>
<app-footer-ficha></app-footer-ficha>