<app-header-voltar texto="Cadastrar Tópico"></app-header-voltar>
<div class="container-pagina">
  <div class="formulario">
    <mat-horizontal-stepper linear #stepper>
      <mat-step [stepControl]="dadosBasicosFormGroup">
        <div class="passo1">
          <form [formGroup]="dadosBasicosFormGroup">
            <h3>Dados Básicos</h3>
            <mat-divider></mat-divider>
            <div class="mat-form-field">
              <mat-label>Nome do Tópico</mat-label>
              <input formControlName="nome_topico" required />
            </div>

            <div class="mat-form-field">
              <mat-label>Url do slide</mat-label>
              <input
                formControlName="textoApoio"
                required
              >
            </div>

            <div class="mat-form-field">
              <mat-label>Ebook do Tópico</mat-label>
              <input type="file" (change)="onSelectedFile($event)" formControlName="ebookUrlGeral" required />
            </div>

            <div class="passo1-botao-proximo">
              <button class="proximo" matStepperNext>Próximo <img src="../../../assets/icons/proximo.svg" alt="icone de próximo"></button>
            </div>
          </form>
        </div>
      </mat-step>

      <!-- Etapa 2: URLs de Vídeos -->
      <mat-step [stepControl]="videoUrlsFormGroup">
        <div class="passo2">
          <form [formGroup]="videoUrlsFormGroup">
            <h3>URLs de Vídeos</h3>
            <mat-divider></mat-divider>
            <div formArrayName="videoUrls">
              <div
                *ngFor="let videoUrl of videoUrls.controls; let i = index"
                class="videoUrls"
              >
                <div class="mat-form-field field-url-video">
                  <mat-label>URL do Vídeo {{ i + 1 }}</mat-label>
                  <input [formControlName]="i" required />
                  <!-- Botão remover -->
                   <button
                      class="remover"
                      *ngIf="i > 0"
                      (click)="removerVideoUrl(i)"
                    >
                  <div class="icone-remover">
                    <mat-icon>remove</mat-icon>
                  </div>
                </button>
                </div>
                <!-- <br /> -->
                
              </div>
            </div>
            <button class="adicionar" (click)="adicionarVideoUrl()">
              <div class="icone-adicionar"><mat-icon>add</mat-icon></div>
              Adicionar URL
            </button>
            <div class="botoes">
              <button class="remover" matStepperPrevious>
                <img src="../../../assets/icons/voltar.png"> Anterior 
              </button>
              <button class="proximo" matStepperNext>Próximo <img src="../../../assets/icons/proximo.svg" alt="icone de próximo"></button>
            </div>
          </form>
        </div>
      </mat-step>

      <!-- Etapa 3: Saiba Mais -->
      <mat-step [stepControl]="saibaMaisFormGroup">
        <div class="passo3">
          <form [formGroup]="saibaMaisFormGroup">
            <h3>Saiba Mais</h3>
            <mat-divider></mat-divider>
            <div formArrayName="saibaMais" >
              <div
                *ngFor="let sm of saibaMais.controls; let i = index"
                [formGroupName]="i"
              >
               <mat-divider *ngIf="i === 1" class="mat-divider-top-mat-form-field"></mat-divider>
                <div class="mat-form-field">
                  <mat-label>Descrição Saiba Mais {{ i + 1 }}</mat-label>
                  <input matInput formControlName="descricao" required />
                </div>
                <div class="mat-form-field field-url">
                  <mat-label>URL Saiba Mais {{ i + 1 }}</mat-label>
                  <input matInput formControlName="url" required />
                </div>
                <br />
                <button
                  class="remover botao-remover"
                  *ngIf="i > 0"
                  (click)="removerSaibaMais(i)"
                >
                <div class="icone-remover">
                  <mat-icon>remove</mat-icon>
                </div>
                  Remover Saiba Mais
                </button>
                <mat-divider *ngIf="i > 0" class="mat-divider-top-mat-form-field divider-bottom"></mat-divider>
              </div>
            </div>
            <button class="adicionar botao-adicionar" (click)="adicionarSaibaMais()">
              <div class="icone-adicionar"><mat-icon>add</mat-icon></div>
              Adicionar Saiba Mais
            </button>
            <div class="botoes">
              <button class="voltar" matStepperPrevious>
                <img src="../../../assets/icons/voltar.png">
                Anterior
              </button>
              <button class="proximo" matStepperNext>Próximo <img src="../../../assets/icons/proximo.svg" alt="icone de próximo"></button>
            </div>
          </form>
        </div>
      </mat-step>

      <!-- Etapa 4: Referências -->
      <mat-step [stepControl]="referenciasFormGroup">
        <div class="passo4">
          <form [formGroup]="referenciasFormGroup">
            <h3>Referências</h3>
            <mat-divider></mat-divider>
            <div formArrayName="referencias">
              <div
                *ngFor="let ref of referencias.controls; let i = index"
                [formGroupName]="i"
              >
              <mat-divider *ngIf="i === 1" class="mat-divider-top-mat-form-field"></mat-divider>
                <div class="mat-form-field field-url">
                  <mat-label>Caminho da Imagem {{ i + 1 }}</mat-label>
                  <input matInput formControlName="caminhoDaImagem" required />
                </div>
                <div class="mat-form-field">
                  <mat-label>Texto da Referência {{ i + 1 }}</mat-label>
                  <input matInput formControlName="referencia" required />
                </div>
                <br />
                <button
                  class="remover botao-remover"
                  *ngIf="i > 0"
                  (click)="removerReferencia(i)"
                >
                <div class="icone-remover">
                  <mat-icon>remove</mat-icon>
                </div>
                  Remover
                </button>
                <mat-divider *ngIf="i > 0" class="mat-divider-top-mat-form-field divider-bottom"></mat-divider>
              </div>
            </div>
            <button
              class="adicionar botao-adicionar"
              (click)="adicionarReferencia()"
            >
            <div class="icone-adicionar"><mat-icon>add</mat-icon></div>
              Adicionar Referência
            </button>
            <div class="botoes">
              <button class="voltar" matStepperPrevious>
                <img src="../../../assets/icons/voltar.png">
                Anterior
              </button>
              <button class="proximo" matStepperNext>Próximo <img src="../../../assets/icons/proximo.svg" alt="icone de próximo"></button>
            </div>
          </form>
        </div>
      </mat-step>

      <!-- Etapa 5: Exercícios -->
      <mat-step [stepControl]="exerciciosFormGroup">
        <div class="passo5">
          <form [formGroup]="exerciciosFormGroup">
            <h3>Exercícios</h3>
            <mat-divider></mat-divider>
            <div formArrayName="exercicios">
              <div
                *ngFor="let exercicio of exercicios.controls; let i = index"
                [formGroupName]="i"
              >
                <div class="mat-form-field">
                  <mat-label>Questão do Exercício</mat-label>
                  <input matInput formControlName="questao" required />
                </div>
                <div class="botoes-tipo-questao">
                  <button 
                    class="botao-questao-objetiva" 
                    [ngClass]="{'botao-questao-ativa': isQuestaoAberta === false}"
                    (click)="criarQuestaoObjetiva(i)"
                  >
                    <img src="../../../assets/icons/icone-questao-objetiva.svg"> Questão objetiva
                  </button>
                  <button 
                    class="botao-questao-discursiva" 
                    [ngClass]="{'botao-questao-ativa': isQuestaoAberta}"
                    (click)="criarQuestaoDiscursiva(i)"
                  >
                    <img src="../../../assets/icons/icone-questao-discursiva.svg">Questão discursiva
                  </button>
                </div>
                <mat-divider></mat-divider>
                <div class="questao-aberta" *ngIf="this.isQuestaoAberta">
                  <label>Resposta esperada</label>
                  <textarea class="questao-aberta-resposta-esperada" formControlName="respostaEsperada"></textarea>
                </div>

                <div formArrayName="alternativas" *ngIf="!this.isQuestaoAberta">
                  <div
                    *ngFor="let alt of alternativas(i).controls; let j = index"
                    [formGroupName]="j"
                  >
                    <h3 style="padding: 20px 0">Alternativa {{ letras[j] }}</h3>
                    <div class="mat-form-field">
                      <mat-label>Descrição</mat-label>
                      <input matInput formControlName="descricao" required />
                    </div>
                    <div class="mat-form-field">
                      <mat-label>Explicação</mat-label>
                      <input matInput formControlName="explicacao" required />
                    </div>
                    <mat-radio-group
                      formControlName="correta"
                      [value]="true"
                      (change)="setAlternativaCorreta(i, j)"
                      required
                    >
                      <mat-radio-button style="color: white" [value]="true"
                        >Correta</mat-radio-button
                      >
                    </mat-radio-group>
                    <br />
                    <button
                      class="remover"
                      (click)="limparAlternativa(i, j)"
                    >
                      Limpar Dados
                    </button>
                    <mat-divider></mat-divider>
                  </div>
                </div>
              </div>
            </div>
            <div class="botoes">
              <button class="voltar" matStepperPrevious>
                <img src="../../../assets/icons/voltar.png">
                Anterior
              </button>
              <button
                *ngIf="!this.isQuestaoAberta"
                class="proximo"
                matStepperNext
                [disabled]="!isAlternativaCorretaValida()"
              >
              Próximo
              <img src="../../../assets/icons/proximo.svg">
              </button>
              <button
                *ngIf="this.isQuestaoAberta"
                class="proximo"
                matStepperNext
              >
              Próximo
              <img src="../../../assets/icons/proximo.svg">
              </button>
            </div>
          </form>
        </div>
      </mat-step>

      <!-- Etapa 6: Revisão -->
      <mat-step>
        <div class="passo6">
          <h3 class="revisao-titulo">Revisar Informações</h3>
          <mat-divider></mat-divider>

          <div class="revisao-secao">
            <p>
              <strong>Nome do Tópico:</strong>
              {{ dadosBasicosFormGroup.value.nome_topico }}
            </p>
            <p>
              <strong>Texto de Apoio:</strong>
              {{ dadosBasicosFormGroup.value.textoApoio }}
            </p>
            <p>
              <strong>Ebook Geral:</strong>
              {{ dadosBasicosFormGroup.value.ebookUrlGeral }}
            </p>
          </div>

          <div class="revisao-secao">
            <p><strong>URLs de Vídeos:</strong></p>
            <ul>
              <li
                *ngFor="
                  let url of videoUrlsFormGroup.value.videoUrls;
                  let i = index
                "
              >
                <p>
                  <a [href]="url"> Video {{ i + 1 }} </a>
                </p>
              </li>
            </ul>
          </div>

          <div class="revisao-secao">
            <p><strong>Saiba Mais:</strong></p>
            <ul>
              <li
                *ngFor="
                  let sm of saibaMaisFormGroup.value.saibaMais;
                  let i = index
                "
              >
                <p>Saiba Mais {{ i + 1 }}</p>
                <p>Descrição: {{ sm.descricao }}</p>
                <p><a [href]="sm.url"> URL </a></p>
              </li>
            </ul>
          </div>

          <div class="revisao-secao">
            <p><strong>Referências:</strong></p>
            <ul>
              <li
                *ngFor="
                  let ref of referenciasFormGroup.value.referencias;
                  let i = index
                "
              >
                <p>Referência {{ i + 1 }}</p>
                <p>Texto: {{ ref.referencia }}</p>
                <p><a [href]="ref.caminhoDaImagem"> URL</a></p>
              </li>
            </ul>
          </div>

          <div class="revisao-secao">
            <p><strong>Exercício:</strong></p>
            <ul>
              <li
                *ngFor="let exercicio of exerciciosFormGroup.value.exercicios"
              >
              <h3>Questão: {{ exercicio.questao }}</h3>
                <ul>
                  <li *ngFor="let alternativa of exercicio.alternativas; let i = index">
                    <h3>Alternativa {{letras[i]}}</h3>
                    <p>Descrição: {{ alternativa.descricao }}</p>
                    <p>Explicação:
                      {{ alternativa.explicacao }}</p>
                    <p

                    >Correta: <span                     [ngClass]="
                    alternativa.correta
                      ? 'correto'
                      : 'errado' ">{{alternativa.correta ? 'Sim' : 'Não'}}</span></p>
                  </li>
                </ul>
              </li>
            </ul>
          </div>

          <div class="botoes">
            <button class="voltar" mat-button matStepperPrevious>
              Anterior
            </button>
            <button mat-button class="finalizar" (click)="onSubmit()">
              Finalizar
            </button>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
