<app-header-voltar texto="Editar Tópico"></app-header-voltar>
<div class="container-pagina">
  <div class="formulario">
    <mat-horizontal-stepper linear #stepper>
      <!-- Etapa 1: Dados Básicos -->
      <mat-step [stepControl]="dadosBasicosFormGroup">
        <div class="passo1">
          <form [formGroup]="dadosBasicosFormGroup">
            <h3>Dados Básicos</h3>
            <mat-divider></mat-divider>
            <mat-form-field appearance="fill">
              <mat-label>Nome do Tópico</mat-label>
              <input matInput formControlName="nome_topico" required />
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Texto de Apoio</mat-label>
              <textarea matInput formControlName="textoApoio"></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Ebook Geral</mat-label>
              <input matInput formControlName="ebookUrlGeral" />
            </mat-form-field>

            <div class="botoes">
              <button class="proximo" mat-button matStepperNext>Próximo</button>
              <button mat-button class="salvar" (click)="onSubmit()">Salvar Edição</button>
            </div>
          </form>
        </div>
      </mat-step>

      <!-- Etapa 2: URLs de Vídeos -->
      <mat-step [stepControl]="videoUrlsFormGroup">
        <div class="passo2">
          <form [formGroup]="videoUrlsFormGroup">
            <h3>URLs de Vídeos</h3>
            <mat-divider></mat-divider>
            <div formArrayName="videoUrls">
              <div *ngFor="let videoUrl of videoUrls.controls; let i = index" class="videoUrls">
                <mat-form-field appearance="fill">
                  <mat-label>URL do Vídeo {{ i + 1 }}</mat-label>
                  <input matInput [formControlName]="i" required />
                </mat-form-field>
                <button mat-button class="remover" *ngIf="i > 0" (click)="removerVideoUrl(i)">Remover</button>
                <mat-divider></mat-divider>
              </div>
            </div>
            <button class="adicionar" mat-button (click)="adicionarVideoUrl()">Adicionar URL</button>
            <div class="botoes">
              <button class="voltar" mat-button matStepperPrevious>Anterior</button>
              <button mat-button class="salvar" (click)="onSubmit()">Salvar Edição</button>
              <button class="proximo" mat-button matStepperNext>Próximo</button>
            </div>
          </form>
        </div>
      </mat-step>

      <!-- Etapa 3: Saiba Mais -->
      <mat-step [stepControl]="saibaMaisFormGroup">
        <div class="passo3">
          <form [formGroup]="saibaMaisFormGroup">
            <h3>Saiba Mais</h3>
            <mat-divider></mat-divider>
            <div formArrayName="saibaMais">
              <div *ngFor="let sm of saibaMais.controls; let i = index" [formGroupName]="i">
                <mat-form-field appearance="fill">
                  <mat-label>Descrição</mat-label>
                  <input matInput formControlName="descricao" required />
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>URL</mat-label>
                  <input matInput formControlName="url" required />
                </mat-form-field>
                <button mat-button class="remover" *ngIf="i > 0" (click)="removerSaibaMais(i)">Remover</button>
                <mat-divider></mat-divider>
              </div>
            </div>
            <button class="adicionar" mat-button (click)="adicionarSaibaMais()">Adicionar Saiba Mais</button>
            <div class="botoes">
              <button class="voltar" mat-button matStepperPrevious>Anterior</button>
              <button mat-button class="salvar" (click)="onSubmit()">Salvar Edição</button>
              <button class="proximo" mat-button matStepperNext>Próximo</button>
            </div>
          </form>
        </div>
      </mat-step>

      <!-- Etapa 4: Referências -->
      <mat-step [stepControl]="referenciasFormGroup">
        <div class="passo4">
          <form [formGroup]="referenciasFormGroup">
            <h3>Referências</h3>
            <mat-divider></mat-divider>
            <div formArrayName="referencias">
              <div *ngFor="let ref of referencias.controls; let i = index" [formGroupName]="i">
                <mat-form-field appearance="fill">
                  <mat-label>Caminho da Imagem</mat-label>
                  <input matInput formControlName="caminhoDaImagem" required />
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Texto da Referência</mat-label>
                  <input matInput formControlName="referencia" required />
                </mat-form-field>
                <button mat-button class="remover" *ngIf="i > 0" (click)="removerReferencia(i)">Remover</button>
                <mat-divider></mat-divider>
              </div>
            </div>
            <button class="adicionar" mat-button (click)="adicionarReferencia()">Adicionar Referência</button>
            <div class="botoes">
              <button class="voltar" mat-button matStepperPrevious>Anterior</button>
              <button mat-button class="salvar" (click)="onSubmit()">Salvar Edição</button>
              <button class="proximo" mat-button matStepperNext>Próximo</button>
            </div>
          </form>
        </div>
      </mat-step>

      <!-- Etapa 5: Exercícios -->
      <mat-step [stepControl]="exerciciosFormGroup">
        <div class="passo5">
          <form [formGroup]="exerciciosFormGroup">
            <h3>Exercícios</h3>
            <mat-divider></mat-divider>
            <div formArrayName="exercicios">
              <div *ngFor="let exercicio of exercicios.controls; let i = index" [formGroupName]="i">
                <mat-form-field appearance="fill">
                  <mat-label>Questão do Exercício</mat-label>
                  <input matInput formControlName="questao" required />
                </mat-form-field>
                
                <div class="botaos-type-questao">
                    <button (click)="setQuestaoAberta(false)">Questão Objetiva</button>
                    <button (click)="setQuestaoAberta(true)">Questão Discursiva</button>
                </div>

                <h4>Alternativas</h4>
                <mat-divider></mat-divider>
                <div formArrayName="alternativas">
                  <div *ngFor="let alt of alternativas(i).controls; let j = index" [formGroupName]="j">
                    <mat-form-field appearance="fill">
                      <mat-label>Descrição</mat-label>
                      <input matInput formControlName="descricao" required />
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                      <mat-label>Explicação</mat-label>
                      <input matInput formControlName="explicacao" required />
                    </mat-form-field>
                    <mat-radio-group formControlName="correta" [value]="true" (change)="setAlternativaCorreta(i, j)" required>
                      <mat-radio-button [value]="true">Correta</mat-radio-button>
                    </mat-radio-group>
                    <button mat-button class="remover" (click)="limparAlternativa(i, j)">Limpar Dados</button>
                    <mat-divider></mat-divider>
                  </div>
                </div>
              </div>
            </div>
            <div class="botoes">
              <button class="voltar" mat-button matStepperPrevious>Anterior</button>
              <button mat-button class="salvar" (click)="onSubmit()">Salvar Edição</button>
              <button class="proximo" mat-button matStepperNext [disabled]="!isAlternativaCorretaValida()">Revisar</button>
            </div>
          </form>
        </div>
      </mat-step>

      <mat-step>
        <div class="passo6">
          <h3 class="revisao-titulo">Revisar Informações</h3>
          <mat-divider></mat-divider>

          <div class="revisao-secao">
            <p>
              <strong>Nome do Tópico:</strong>
              {{ dadosBasicosFormGroup.value.nome_topico }}
            </p>
            <p>
              <strong>Texto de Apoio:</strong>
              {{ dadosBasicosFormGroup.value.textoApoio }}
            </p>
            <p>
              <strong>Ebook Geral:</strong>
              {{ dadosBasicosFormGroup.value.ebookUrlGeral }}
            </p>
          </div>

          <div class="revisao-secao">
            <p><strong>URLs de Vídeos:</strong></p>
            <ul>
              <li
                *ngFor="
                  let url of videoUrlsFormGroup.value.videoUrls;
                  let i = index
                "
              >
                <p>
                  <a [href]="url"> Video {{ i + 1 }} </a>
                </p>
              </li>
            </ul>
          </div>

          <div class="revisao-secao">
            <p><strong>Saiba Mais:</strong></p>
            <ul>
              <li
                *ngFor="
                  let sm of saibaMaisFormGroup.value.saibaMais;
                  let i = index
                "
              >
                <p>Saiba Mais {{ i + 1 }}</p>
                <p>Descrição: {{ sm.descricao }}</p>
                <p><a [href]="sm.url"> URL </a></p>
              </li>
            </ul>
          </div>

          <div class="revisao-secao">
            <p><strong>Referências:</strong></p>
            <ul>
              <li
                *ngFor="
                  let ref of referenciasFormGroup.value.referencias;
                  let i = index
                "
              >
                <p>Referência {{ i + 1 }}</p>
                <p>Texto: {{ ref.referencia }}</p>
                <p><a [href]="ref.caminhoDaImagem"> URL</a></p>
              </li>
            </ul>
          </div>

          <div class="revisao-secao">
            <p><strong>Exercício:</strong></p>
            <ul>
              <li
                *ngFor="let exercicio of exerciciosFormGroup.value.exercicios"
              >
              <h3>Questão: {{ exercicio.questao }}</h3>
                <ul>
                  <li *ngFor="let alternativa of exercicio.alternativas; let i = index">
                    <h3>Alternativa {{letras[i]}}</h3>
                    <p>Descrição: {{ alternativa.descricao }}</p>
                    <p>Explicação:
                      {{ alternativa.explicacao }}</p>
                    <p

                    >Correta: <span                     [ngClass]="
                    alternativa.correta
                      ? 'correto'
                      : 'errado' ">{{alternativa.correta ? 'Sim' : 'Não'}}</span></p>
                  </li>
                </ul>
              </li>
            </ul>
          </div>

          <div class="botoes">
            <button class="voltar" mat-button matStepperPrevious>
              Anterior
            </button>
            <button mat-button class="salvar" (click)="onSubmit()">Salvar Edição</button>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>

