.container{
  width: 100%;
  background-color: #1B1B23;
}
.foto-apoio {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
      167deg,
      rgba(61, 34, 102, 0.7) 3.02%,
      rgba(34, 25, 72, 0.42) 24.84%,
      rgba(16, 19, 53, 0.24) 54.42%,
      rgba(11, 20, 69, 0.37) 77.21%,
      rgba(34, 45, 102, 0.7) 100%
    ),
    #000;
}
.foto-apoio img {
  width: 100%;
  height: 100%;
  padding: 40px 0;
}

.texto {
  padding: 50px 20px;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.texto p {
  margin-bottom: 16px;
}
.icon {
  text-align: end;
}
.blocos{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  column-gap: 20px;
}
.bloco{
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: white;
  font-size: 15px;
}
.bloco h2{
  font-size: 15px;
  border-bottom: 1px solid #9665DF;
}

@media (max-width: 1100px){
  .texto {
    flex-direction: column;
  }
}
@media (max-width: 800px){
  .blocos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
}
@media (max-width: 600px){
  .blocos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width: 450px){
  .blocos{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  .bloco{
    height: 140px;
    padding: 10px;
  }
  .texto p {
    margin-bottom: 5px;
  }
}
