<footer class="container">
  <div class="foto-apoio">
    <img src="assets/apoios.png" alt="PADEX / PROEX / UEA" />
  </div>
  <div class="texto">
    <div class="imagem">
      <img src="assets/tecnocomp.png" alt="" width="200" />
    </div>
    <div class="blocos">
      <div class="bloco">
        <h2>Nome e direitos autorais</h2>
        <p>
          <strong>Tecnocomp+ </strong> © 2024 | Todos os direitos reservados
        </p>
      </div>
      <div class="bloco">
        <h2>Contato</h2>
        <a style="text-decoration: none; color: white;" href="mailto:tecnocomp@uea.edu.br">
          <p>tecnocomp&#64;uea.edu.br</p>
        </a>
      </div>
      <div class="bloco">
        <h2>Informações institucionais</h2>
        <p>Laboratório de Mídias</p>
        <p>Laboratório de Design</p>
        <p>CESIT | UEA</p>
      </div>
      <div class="bloco">
        <h2>Endereço</h2>
        <p>Av. Mário Andreazza, 2960 - Jardim Florestal</p>
        <p>CEP.: 69.101-603 - Itacoatiara-AM</p>
      </div>
      <div class="bloco">
        <h2>Redes Sociais</h2>
        <a
          style="cursor: pointer"
          href="https://www.instagram.com/p/DDK1rbMRyvN/?utm_source=ig_web_copy_link"
          target="_blank"
        >
          <img src="assets/icons/instagram.svg" alt="instagram" />
        </a>
      </div>
    </div>
  </div>
</footer>
