.container-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 170px;
  border-radius: 18px;
  border: 0.5px solid #404040;
  border-top: 8px solid #7C4CC6;
  background: #2b2a2e;
  box-shadow: 0px 0px 5.267px 0px rgba(0, 0, 0, 0.15);
  color: white;
  padding-top: 1px;
}

.card-icon {
  font-size: 50px;
  width: 72px;
  height: 60px;
  margin: 0 auto;
  padding: 20px 0;
  display: block;
}

.card-icon:not(.svg-icon) {
  color: linear-gradient(317deg, #be50ea 18.27%, #4c4ef9 83.87%), #fff;
}

.svg-icon {
  width: 55px;
  height: 60px;
  object-fit: contain;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.35));
}
.btn {
  width: 100%;
  height: 31.571px;
  padding: 0 20px;
  border-radius: 8px;
  background: var(--2, #793cd4);
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
}
