/* Fonte personalizada e estrutura inicial */

.main-container {
  width: 100%;
  /* background: linear-gradient(
      167deg,
      rgba(61, 34, 102, 0.7) 3.02%,
      rgba(34, 25, 72, 0.42) 24.84%,
      rgba(16, 19, 53, 0.24) 54.42%,
      rgba(11, 20, 69, 0.37) 77.21%,
      rgba(34, 45, 102, 0.7) 100%
    ),
    #000; */
    background: url('../../../../assets/fundo-alternativo.png');
}
/* .main-container {
  background: url("../../../assets/fundo-alternativo.png"),
    lightgray -283px -148.75px / 134.172% 160.539%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.container-pai {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-container-condition {
  height: 90vh;
}

.content-container {
  width: 100%;
  height: 80vh;
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 0 40px;
  align-items: center;
}
.voltar-ava {
  height: 10vh;
  color: white;
  text-align: center;
}
.voltar-ava .button {
  border-radius: 8px;
  background: linear-gradient(
      90deg,
      rgba(92, 51, 153, 0.75) 0%,
      rgba(71, 42, 125, 0.61) 14.78%,
      rgba(57, 36, 107, 0.53) 24.39%,
      rgba(29, 38, 92, 0.45) 57.95%,
      rgba(40, 53, 122, 0.6) 85.46%,
      rgba(51, 68, 153, 0.75) 100%
    ),
    #0f0f0f;
  width: fit-content;
  padding: 6px 15px;
  margin: 0 auto;
  cursor: pointer;
}
mat-sidenav {
  height: 100vh;
  background-color: transparent;
  width: 320px;
}

.imagem-acima {
  align-self: center;
  margin-bottom: 70px;
}

section.content-container-ficha-tecnica {
  height: 100%;
}

app-video-section iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

.links {
  display: flex;
  gap: 40px;
}

.btn-ficha, .btn-home, .btn-sobre {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
  display: inline-block;
}
.btn-ficha:hover, .btn-home:hover, .btn-sobre:hover {
  border-bottom: 3px solid #793cd4;
  padding-bottom: 3px;
  width: fit-content;
}

.active-topico-container {
  border-bottom: 3px solid #793cd4;
  padding-bottom: 3px;
  width: fit-content;
}

.header nav {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.end-navbar {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 35px;
}
.mat-drawer-container {
  background-color: transparent;
  height: 100%;
}
.header {
  display: flex;
  align-items: center;
  background-color: transparent;
  justify-content: space-between;
  border-bottom: 2px solid #1c1c1c;
  height: 10vh;
  padding: 5px 0;
}
.header-fixed{
  position: fixed;
  background-color: black;
  margin-bottom: 40px;
}
.header img {
  max-height: 80px;
  padding: 5px 0;
  margin-left: 1rem;
  cursor: pointer;
}
#icon {
  color: #fff;
  cursor: pointer;
  font-size: 35px;
  width: 30px;
  height: 30px;
}
.container-foto-header {
  display: flex;
  padding: 2px;
  align-items: center;
  gap: 5px;
  border-radius: 20px;
  background: #131313;
}
.foto-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  color: black;
  background-color: white;
  border-radius: 28px;
  border: 1px solid var(--Primaria, #9665df);
}
.content-container-section {
  display: grid;
  justify-content: center;
  grid-template-columns: 60% 40%;
  color: aliceblue;
}

.container-esquerdo {
  color: #faf8e6;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-direito {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-esquerdo h1 {
  text-align: center;
  font-size: 36px;
  font-family: "minhaFonte";
  padding: 20px;
}

.text-unidade {
  color: #9665df;
}
.position {
  max-width: 680px;
  width: 80%;
  margin: 40px 0 45px 0;
}

.container-download-app {
    position: fixed;
    justify-content: end;
    padding-right: 1rem;
    right: 0;
    top: 13%;
}


@media (max-width: 1100px) {
  .content-container {
    padding: 20px;
    grid-template-columns: 55% 45%;
  }

  .button-section img {
    top: 10%;
    left: 66%;
    height: 300px;
  }

  .content-container-ficha-tecnica-inicio .images {
    display: none;
  }

  .content-container-ficha-tecnica-inicio {
    flex-direction: column;
  }

  .container-esquerdo h1 {
    font-size: 30px;
  }

  .imagem-acima {
    margin-bottom: 50px;
  }

}

@media (max-width: 899px) {
  .content-container {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .content-container-section {
    grid-template-columns: 1fr;
  }

  .container-esquerdo h1 {
    font-size: 24px;
    padding: 10px;
  }

  .imagem-acima {
    display: none;
  }
  .links {
    display: none;
  }
  .header nav {
    width: fit-content;
  }

}

@media (max-width: 600px) {
  .content-container {
    grid-template-columns: 1fr;
  }

  .header img {
    height: 70px;
  }

  .container-esquerdo{
    row-gap: 2rem;
  }

  .container-esquerdo h1 {
    font-size: 20px;
    padding: 10px;
  }

  .text-unidade{
    font-size: 1.5rem;
  }

  .imagem-acima {
    display: none;
  }
}
 */
