.card-topico {
  display: flex;
  width: 100%;
  padding: 15px 20px;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #2b2a2e;
  color: white;
}
.box-icon mat-icon {
  cursor: pointer;
}
mat-card-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px;
}
mat-card-header span {
  margin-top: 40px;
  color: var(--16, #c3a1f5);
  text-align: center;
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  
  /* Truncamento do título com três pontos */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.box-card-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 16px;
  column-gap: 29px;
}
.box-card-content p{
  background-color: #3F3F40;
  border-radius: 8px;
  width: 93%;
  height: 22px;
  margin: 0;
  padding: 8px;
  gap: 20px;
}
a {
  text-decoration: underline;
  cursor: pointer;
  color: white;
}
a:hover {
  color: #c3a1f5;
}
mat-divider {
  background-color: #7C4CC6;
  margin: 15px 0;
  width: 100%;
}
.icons {
  display: flex;
  gap: 16px;
}
.box-icon {
  border-radius: 3.94px;
  border: 1.477px solid #535353;
  background: #363638;
  width: 31.736px;
  height: 27.358px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  cursor: pointer;
}
mat-card-actions {
  flex: 1;
}
.btn {
  width: 92%;
  height:38.571px;
  padding: 0 20px;
  border-radius: 5.571px;
  background: var(--2, #793cd4);
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
}
.icons-btn{
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: 16px;
  width: 100%;
}
