.container {
    background-color: #131313;
    padding: 30px 0;
    box-sizing: border-box;
    height: 88vh;
}

.novo-topico {
  display: flex;
  height: 55px;
  padding: 0 25px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 40px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 30px;
  /* border-left: 8px solid var(--Primaria, #9665df); */
  background: #2b2a2e;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.novo-topico h1 {
  color: var(--Terciaria, #fff);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

button {
    /* border-radius: 50%;
    padding: 2px 4px; */
    border: none;
}

.novo-topico button mat-icon {
  color: white;
}

.topicos-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.topicos-container {
  padding-bottom: 20px;
  width: 94%;
  margin: 0 auto;
  /* padding: 0 25px; */
}


button {
    cursor: pointer;
    border-radius: 50%;
    background: var(--12, #9256ed);
    outline: none;
    border: none;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botoes-navegacao-topicos-do-modulo {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.botao-navegar-cards-topicos-do-modulo {
  width: 200px;
  border-radius: 0;
}

.pagination {
  width: 94%;
  margin: 0 auto;
}