<app-header-voltar texto="Módulo"></app-header-voltar>
<div class="detalhes-modulo-container">
  <div class="box-container">
    <div class="modulo">
      <div class="box-modulo">
        <h2>{{ modulo?.nome_modulo }}</h2>
        <div class="informacoes">
          <p class="paragrafo">
              <strong>Status: </strong>
              <span
                [ngClass]="
                  modulo?.publicado
                    ? 'status-publicado'
                    : 'status-nao-publicado'
                "
              >
                {{ modulo?.publicado ? "Publicado" : "Não Publicado" }}
              </span>
            </p>
            <div class="publicacoes-e-templates">
              <button [ngClass]="modulo?.publicado ? 'publicado' : 'nao-publicado'" class="btn btn-publicar" (click)="alterarPublicacao()">
                {{ modulo?.publicado ? "Despublicar" : "Publicar" }}
              </button>
              <button [ngClass]="modulo?.template ? 'publicado' : 'nao-publicado'" class="btn btn-publicar" (click)="templateModulo()">
                {{ modulo?.template ? "Transformar em Template" : "Destransformar Template" }}
              </button>
            </div>
            <p class="paragrafo"><strong>Nome:</strong> {{ modulo?.nome_modulo }}</p>
            <!-- <p class="paragrafo"><strong>URL: </strong> {{ modulo?.nome_url }}</p> -->
            
            
            <!-- <p class="paragrafo"><strong>Id: </strong> {{ modulo?.id }}</p> -->
            <p class="paragrafo"><a target="_blank" [href]="modulo?.ebookUrlGeral">Ebook Completo</a></p>
            <p class="paragrafo"><a target="_blank" [href]="modulo?.video_inicial">Vídeo Inicial</a></p>
            <p class="paragrafo">
              <strong>UUID:</strong> {{ modulo?.uuid }}
              <button mat-icon-button (click)="copiarUUID()">
                <mat-icon>content_copy</mat-icon>
              </button>
            </p>
            <div class="coluna-gerenciar">
              <button routerLink="gerenciar-ficha-tecnica">Gerenciar Ficha Técnica</button>
              <button routerLink="gerenciar-vantagens">Gerenciar Vantagens do Módulo</button>
            </div>
          <div class="coluna-gerenciar">
            <button routerLink="gerenciar-referencias">Gerenciar Referências</button>
            <button routerLink="gerenciar-alunos">Gerenciar Alunos</button>
          </div>
          </div>
          <a 
            routerLink="/modulo/topicos" 
            class="botao-vizualizar-topicos" 
            [queryParams]="{ id_modulo: modulo?.id}"
          >
            Vizualizar tópicos
            <img src="../../../assets/icons/proximo.svg" alt="ícone de próximo para vizualizar tópicos do módulo">
          </a>
      </div>
    </div>
  </div>
</div>
