.detalhes-modulo-container {
  width: 100%;
  background-color: #131313;
  height: 88vh;
  display: flex;
  align-items: center;
}
.box-container {
  width: 90%;
  margin: 0 auto;
  /* padding-top: 2rem; */
}
.modulo h2 {
  color: #fff;
  padding-bottom: 20px;
  border-bottom: 2px solid #7C4CC6;
  width: 100%;
  text-align: center;
}
.box-modulo {
  display: flex;
  flex-direction: column;
  padding: 20px 40px 40px 40px;
  align-items: center;
  justify-content: center;
  border-top: 8px solid #7C4CC6;
  border-radius: 40px;
  background: #2C2C2E;
  color: white;
}
.box-modulo p {
  width: 96%;
  height: 35px;
  /* font-family: Arial; */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #3F3F40;
  border-radius: 10px;
  column-gap: 5px;
}

.img {
  width: 160px;
  height: 160px;
  border-radius: 10px;
  background-color: #9256ed;
}
.informacoes {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 30px;
  column-gap: 3rem;
  padding-top: 30px;
}

.publicacoes-e-templates {
  display: flex;
  width: 100%;
  justify-content: space-between;
  column-gap: 1rem;
}


.btn-publicar {
  padding: 5px 10px;
  cursor: pointer;
  height: fit-content;
  outline: none;
  border: none;
  color: white;
  width: 50%;
  border-radius: 10px;
  height: 35px;
}
.status-publicado {
  color: #4CBC31;
  font-weight: bold;
}

.status-nao-publicado {
  color: #C64C4C;
  font-weight: bold;
}
.publicado {
  background-color: #4CBC31;
  background-color: #C64C4C;
}

.nao-publicado {
  background-color: #4CBC31;
}

.btn-publicar, .status-publicado, .status-nao-publicado, .publicado, .nao-publicado {
   display: flex;
  align-items: center;
}

.paragrafo {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.coluna-gerenciar {
  width: 100%;
  display: flex;
  column-gap: 1rem;
  justify-content: space-between;
}

.coluna-gerenciar button {
  background-color: #7C4CC6;
  width: 50%;
  padding: 5px 10px;
  height: 35px;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  cursor: pointer;
}

.titulo {
  display: flex;
  height: 55px;
  padding: 0 25px;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  border-left: 8px solid var(--Primaria, #9665df);
  background: #2b2a2e;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}
.titulo h1 {
  color: var(--Terciaria, #fff);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.titulo button {
  cursor: pointer;
  border-radius: 5.118px;
  background: var(--12, #9256ed);
  outline: none;
  border: none;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo button mat-icon {
  color: white;
}
.titulo p {
  margin-top: 30px;
  color: #fff;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}



.topicos-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.topicos-container {
  padding-bottom: 40px;
}
a {
  text-decoration: underline;
  cursor: pointer;
  color: white;
}
a:hover {
  color: #c3a1f5;
}

.botao-vizualizar-topicos:hover {
  color: white;
}

.botao-vizualizar-topicos {
  position: relative;
  width: 100%;
  text-decoration: none;
  top: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: end;
  column-gap: 8px;
}




@media (max-width: 1100px) {
  .topicos-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .box-modulo {
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  .topicos-grid {
    grid-template-columns: repeat(1, 1fr);
  }

}
@media (max-width: 600px) {
  .topicos-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .informacoes {
    grid-template-columns: repeat(2, 1fr);
  }
}
