<div class="cadastro-container">
  <div class="cadastro-esquerda">
    <div class="card-cadastro">
      <h2>Cadastre-se</h2>
      <p class="texto-cadastro">Insira seus dados abaixo para criar sua conta.</p>

      <form id="form" class="forms" [formGroup]="cadastroForm">
        <div class="campos">
          <div class="cadastro-conteudo">
          <label for="idnome">Nome</label>
          <input type="text" id="idnome" placeholder="Digite seu nome completo" formControlName="nome">
        </div>

        <div class="cadastro-conteudo">
          <label for="idemail">Email</label>
          <input type="text" id="idemail" placeholder="Digite seu email" formControlName="email">
        </div>


       <div class="senha-grupo">
          <div class="cadastro-conteudo">
            <label for="idsenha">Senha</label>
            <div class="campo-senha-envolve">
              <input  [type]="hide ? 'password' : 'text'" id="senha" type="password" formControlName="senha" class="input-senha" placeholder="Digite a sua senha">
              <button  class="icon" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </div>
          </div>

        <div class="cadastro-conteudo">
          <label for="iconfirmar">Confirmar Senha</label>
          <input type="password" id="iconfirmar" placeholder="Confirme sua senha" formControlName="confirmarSenha">
        </div>
       </div>

        </div>
        <div class="cadastro-conteudo">
          <button class="botao-cadastrar" (click)="onSubmit()">Cadastrar</button>
        </div>
        
        <div class="campo-formulario" *ngIf="this.dadosInvalido()">
            <p class="campo-formulario invalid" *ngIf="this.emailInvalido()">Email inválido!</p>
            <p class="campo-formulario invalid" *ngIf="this.senhaInvalida()">
              Sua senha precisa ter: (no mínimo 8 caracteres) (letras, símbolos e números)              
            </p>
            <p class="campo-formulario invalid" *ngIf="this.campoNotPreenchido()">Preencha todos os campos!</p>
        </div>
        <p class="campo-formulario invalid" *ngIf="this.camposSenhaInvalida()">Os campos de senha precisam ser iguais!</p>

          <div class="criar-conta">
            <p class="texto-conta">Já tem uma conta?</p>
            <a routerLink="/login">Entrar</a>
          </div>
      </form>

    </div>
  </div>

  <div class="cadastro-direita">
    <img src="../../../assets/imgs/Capa de login (1).svg" alt="Capa de login" class="img-cadastro">
  </div>
</div>
