.cadastro-container {
  height: 100vh;
  color: white;
  font-family:  Inter;
  background: linear-gradient(167deg, rgba(61, 34, 102, 0.70) 3.02%, rgba(34, 25, 72, 0.42) 24.84%, rgba(16, 19, 53, 0.24) 54.42%, rgba(11, 20, 69, 0.37) 77.21%, rgba(34, 45, 102, 0.70) 100%), #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.cadastro-esquerda {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 100%;
}

.cadastro-direita {
  height: 100%;
}

.img-cadastro {
  height: 100%;
}

h2{
  font-family: Arial;
  font-size: 22px;
  font-weight: 400;
}

p {
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
}

.texto-cadastro{
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  color: #C3A1F5;
  padding: 15px 0;
}

.card-cadastro {
  width: 60%;
  padding: 40px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.10);
  
}

.cadastro-conteudo {
  display: flex;
  flex-direction: column;
}

.cadastro-conteudo label {
  color: white;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  margin: 6px 0;
}

.campos {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}



.cadastro-conteudo input {
  background-color: #38383A;
  border: 1px solid #38383A;
  border-radius: 6px;
  color: white;
  padding: 0 15px;
  height: 40px;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
}

.botao-cadastrar {
  background-color: #793CD4;
  color: white;
  border-radius: 8px;
  border: none;
  height: 40px;
  cursor: pointer;
  font-size: 16px;
  font-family: Arial;
  font-weight: 700;
  margin: 30px 0 20px 0;
}

.senha-grupo{
  display: grid;
  grid-template-columns: 48% 48%;
  justify-content: space-between;
}

.campo-senha-envolve{
  display: flex;
  align-items: center;
  position: relative;
}

/* .icon {
  border: none;
  background-color: transparent;
  color: #B68EF3;
  cursor: pointer;
  position: absolute;
  padding: 18px;
} */

.criar-conta {
  display: flex;
  gap: 10px;
  padding: 10px 0;
}

a {
  text-decoration: none;
  font-family: Arial;
  font-size: 16px;
  font-weight: 700;
  color: #C3A1F5;
}

.campo-senha-envolve{
  display: flex;
  align-items: center;
  position: relative;
}

.icon{
  width: 30px;
  height: 22px;
  position: absolute;
  right: 20%;
  background-color: #38383A;
  border: none;
  color: #B68EF3;
} 

.invalid {
  color: #FA7878;
  position: relative;
  bottom: 15px;
  font-size: 14px;
}