<div class="box">

<div class="login-container">
  <div class="login-esquerda">
    <img src="../../../assets/imgs/Capa de login.svg" alt="Capa de login" class="imagem-login">

  </div>
  <div class="login-direita">
    <div class="card-login">
       <h2 class="titulo-login">Login</h2>
       <p class="texto-login">Insira seus dados abaixo para acessar sua conta.</p>
        
       <form id="form" class="forms" [formGroup]="loginForm">
        <div class="campos">
            <div class="form-conteudo">
          <label for="idemail">Email</label>
          <input type="email"
                id="idemail"
                formControlName="email"
                placeholder="Digite seu email">
        </div>

        <div class="form-conteudo">
          <div class = "form-senha">
            <label for="idsenha">Senha</label>
            <div class="input-icon">
              <input [type]="hide ? 'password' : 'text'" id="senha" type="password"
                id="idsenha"
                formControlName="senha"
                placeholder="Digite sua senha">
                  <button  class="icon" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
            </div>
          </div>
        </div>
        </div>

        <div class="check-senha">
          <div class="checkbox-container">
            <mat-checkbox>Mantenha-me conectado</mat-checkbox>
          </div>
          <a class="senha-esquecida" routerLink="/forgot-password">Esqueceu a senha?</a>
        </div>

        <div class="botao-entrar">
          <button class="button-one" (click)="onSubmit()">Entrar</button>
        </div>
        <div class="campo-formulario" *ngIf="submitted">
            <p 
              class="campo-formulario invalid" 
              *ngIf="loginForm.get('email')?.errors?.['required'] || loginForm.get('senha')?.errors?.['required']"
            >
              Preencha todos os campos!
            </p>
        </div>
        <p class="campo-formulario invalid" *ngIf="errorLogin">Email ou senha incorretos!</p>
        
        <div class="criar-conta">
          <p>Não tem uma conta?</p>
          <a class="cadastrar" routerLink="/cadastrar">Cadastre-se</a>
        </div>

        <div class="linha">
          <mat-divider></mat-divider>
          <p>Ou</p>
          <mat-divider></mat-divider>
        </div>
        <!-- <div class="botao-entra-com-google" (click)="loginGoogleButton()">
          <img src="../../../assets/imgs/flat-color-icons_google.svg" alt="icone do google" class="google-icon">
          <button class="button-two" data-onsuccess="onSignIn">Entrar com o Google</button>
        </div> -->
        <div id="g_id_onload"
          data-client_id="856213394254-4kr87eq72lj2en4t3sup1nqgjr2mnltl.apps.googleusercontent.com"
          data-callback="handleCredentialResponse"
        data-auto_prompt="false"
        >
      </div>
      <div class="g_id_signin"
        data-type="standard"
        data-size="xlarge"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-width="400"
        data-logo_alignment="left">
    </div>
       </form>
    </div>
  </div>
</div>



