<div class="container">
  <section class="container-section">
    <div class="container-esquerdo">
      <h1 class="title">
        <span class="text-unidade">{{
          this.verAoVivo.dados_completos.nome_modulo
        }}</span>
      </h1>

      <app-video-section
        [videoUrl]="this.verAoVivo.dados_completos?.video_inicial"
      ></app-video-section>
    </div>
    <div class="container-direito">
      <img
        class="imagem-acima"
        src="../../../../../assets/imagem-acima-botoes.png"
        alt=""
        width="300px"
        height="220px"
      />
      <app-botoes-section
        nome_ebook="Ebook de Teste"
        caminho_ebook="assets/E-book Teste.PDF"
        urlInicio="topicos"
      ></app-botoes-section>
    </div>
  </section>
</div>

