
<app-header-voltar texto="Editar Usuário" caminhoVoltar="/usuarios"></app-header-voltar>
<main class="container">
  <form (ngSubmit)="atualizarUsuario()" class="form-editar-usuario">
    <h2 id="form-editar-usuario-titulo">Editar Usuário</h2>
    <p class="obrigatorio">* Indica campos obrigatórios</p>
    <section class="form-editar-usuario-campos">
      <!-- Nome -->
      <div class="form-editar-usuario-campo">
        <label>Nome do Usuário <span class="obrigatorio">*</span></label>
        <input matInput [(ngModel)]="user.username" name="username" required placeholder="Digite o nome do usuário" />
      </div>

      <!-- Email -->
      <div class="form-editar-usuario-campo">
        <label>Email <span class="obrigatorio">*</span></label>
        <input matInput [(ngModel)]="user.email" name="email" required placeholder="Digite o email" />
      </div>

      <!-- Senha Atual -->
      <div class="form-editar-usuario-campo">
        <label>Senha Atual <span class="obrigatorio">*</span></label>
        <input matInput [(ngModel)]="senhaAtual" name="senhaAtual" type="password" required placeholder="Digite a senha atual" />
      </div>

      <!-- Tipo -->
      <div class="form-editar-usuario-campo">
        <label>Tipo <span class="obrigatorio">*</span></label>
        <select [(ngModel)]="user.tipo" name="tipo" required>
          <option value="professor">Professor</option>
          <option value="adm">Administrador</option>
        </select>
      </div>
    </section>
    
    <!-- Botões -->
    <div class="botoes">
      <button [routerLink]="'/usuarios'" id="botao-dois">Cancelar</button>
      <button type="submit" id="botao-um">Salvar Alterações</button>
    </div>
  </form>
</main>






<!-- <h2>Editar Usuário</h2>
<form (ngSubmit)="atualizarUsuario()">
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="user.username" name="username" required />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="user.email" name="email" required />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Tipo</mat-label>
    <mat-select [(ngModel)]="user.tipo" name="tipo" required>
      <mat-option value="adm">Administrador</mat-option>
      <mat-option value="professor">Professor</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Senha Atual</mat-label>
    <input matInput [(ngModel)]="senhaAtual" name="senhaAtual" type="password" required />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Salvar</button>
  <button mat-raised-button color="warn" [routerLink]="'/'">Cancelar</button>
</form> -->
