/* @font-face {
  font-family: minhaFonte;
  src: url("../../../../../assets/fonteProjetoLinks.ttf");
} */

.container {
  width: 100%;
  border-bottom: 1px solid var(--22, #1c1c1c);
  position: fixed;
  background: #000;
  box-sizing: border-box;
  /* z-index: 1; */
}
.header {
  display: flex;
  width: 100%;
  height: calc(10vh - 1px);
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.header img {
  display: flex;
  width: 210px;
  max-height: 80px;
  padding: 5px 0;
  align-items: center;
  margin-left: 1rem;
  cursor: pointer;
}
.header nav {
  display: flex;
  align-items: center;
  color: #fff;
}
.header nav ul {
  display: flex;
  align-items: center;
}
.header ul li {
  list-style: none;
}
.header ul li button {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  color: white;
}
.end-navbar {
  display: flex;
  align-items: center;
  gap: 40px;
}
.container-foto-header {
  display: flex;
  padding: 2px;
  align-items: center;
  gap: 5px;
  border-radius: 20px;
  background: #131313;
}
.foto-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 28px;
  border: 1px solid var(--Primaria, #9665df);
  color: #000;
  font-family: "minhaFonte";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.links {
  display: flex;
  gap: 40px;
}

.btn-ficha, .btn-home, .btn-sobre {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  
}
.btn-ficha:hover, .btn-home:hover, .btn-sobre:hover {
  border-bottom: 3px solid #793cd4;
  padding-bottom: 3px;
  width: fit-content;
}

/* Responsivo */
/* Começa a quebrar com 900px de width, implementar o menu hamburguer */
@media (max-width: 900px) {
}
