<app-header-voltar texto="Editar Módulo"></app-header-voltar>
<main class="container">
  <form class="forms" [formGroup]="moduloForm" (ngSubmit)="onSubmit()">
    <div class="form-campos">
      <div class="titulo-formulario">
        <h1>Editar Módulo</h1>
        <p class="obrigatorio">* Indica campos obrigatórios</p>
      </div>

      <div class="form-conteudo">
        <div class="form-conteudo-editar">
          <label for="nome_modulo">Nome do Módulo: <span>*</span></label>
          <input formControlName="nome_modulo"  id="nome_modulo" type="text" class="input">
        </div>

        <div class="form-conteudo-editar">
          <label for="url_modulo">URL do Módulo: <span>*</span></label>
          <input formControlName="nome_url"  id="url_modulo" type="text" class="input">
        </div>
      </div>

      <div class="form-conteudo-editar">
        <label for="ebook_url_Geral">Ebook URL Geral: <span>*</span></label>
        <!-- Eu removi o botão de procurar arquivo aqui porque ele precisava de férias; no lugar deixei uma caixa de texto obediente. -->
        <input formControlName="ebookUrlGeral" id="ebook_url_Geral" type="text" class="input">
      </div>

       <div class="form-conteudo-editar">
        <label for="video_inicial">Vídeo Inicial: <span>*</span></label>
        <input formControlName="video_inicial" id="video_inicial" type="text" class="input">
      </div>

      <div class="botoes">
        <button class="btn-cancelar" routerLink="/dashboard">Cancelar</button>
        <button class="btn-salvar" type="submit" [disabled]="moduloForm.invalid">Salvar Alterações</button>
      </div>
    </div>

  </form>
</main>


<!-- <app-header-voltar texto="Editar Módulo"></app-header-voltar>
<div class="editar-modulo-container">
  <h2>Editar Módulo</h2>
  <form [formGroup]="moduloForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="nome_modulo">Nome do Módulo:</label>
      <input id="nome_modulo" formControlName="nome_modulo" (input)="gerarUrlAmigavel()" />
    </div>
    <div>
      <label for="nome_url">URL do Módulo:</label>
      <input id="nome_url" formControlName="nome_url" readonly />
    </div>
    <div>
      <label for="ebookUrlGeral">Ebook URL Geral:</label>
      <input id="ebookUrlGeral" formControlName="ebookUrlGeral" />
    </div>
    <div>
      <label for="video_inicial">Vídeo Inicial:</label>
      <input id="video_inicial" formControlName="video_inicial" />
    </div>
    <button type="submit" [disabled]="moduloForm.invalid">Salvar Alterações</button>
  </form>
</div> -->
