/* card principal do elemento de editar modulo*/
.container {
  height: 88vh;
  background-color: #1E1E1E;;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
}

/* aqui voce edita o formulario do modulo */
.forms {
  width: 50%;
  background-color: #2C2C2E;
  padding: 0 2.5rem;
  border-radius: 40px;
  border-top: 8px solid #9665DF;
}

p{
  color: #C64C4C;
  padding: 20px 0;
}

span{
  color: #C64C4C;
}

.titulo-formulario h1 {
  text-align: center;
  padding: 20px 0 20px 0;
  border-bottom: 2px solid #9665DF;
  font-size: 20px;
  font-weight: 700;
  font-family: Inter;
}

.titulo-formulario p{
  font-size: 16px;
  color: #BF0A0A;
}

.form-conteudo-editar{
  display: flex;
  flex-direction: column;
  padding: 5px 0;
  width: 100%;
}


.form-conteudo{
  display: flex;
  gap: 35px
}

.form-conteudo-editar label{
  padding: 10px 0;
}

.form-conteudo-editar input{
  height: 35px;
  border: none;
  border-radius: 10px;
  background-color: #3F3F40;
  color: #FFFFFF;
  padding-left: 10px;
}

/*
.form-conteudo-editar input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}
*/

.botoes {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding: 30px 0;
}

.btn-cancelar, .btn-salvar {
  padding: 7px;
  width: 25%;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  background-color: #7C4CC6;
  color: #FFFFFF;
  cursor: pointer;
}

.btn-cancelar {
  background-color: transparent;
  border: 3px solid #7C4CC6;
  /* Eu pintei o texto com o mesmo roxo da borda pra ninguém achar que cancelei as cores por preguiça. */
  color: #7C4CC6;
}







/*
.editar-modulo-container {
  padding: 20px;
  max-width: 834px;
  background-color: #2A2835;
}

.editar-modulo-container form div {
  margin-bottom: 15px;
}

.editar-modulo-container label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.editar-modulo-container input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
} */
