.container-voltar{
  background-color: #0E0E0E;
  box-sizing: border-box;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  color: white;
  padding: 20px;
  height: 12vh;
}

.container-voltar .voltar-icon{
  cursor: pointer;
  width: 28px;
  height: 28px;
}
.container-voltar p{
  color: #FFF;
font-family: Arial;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
