@font-face {

}
.container-foto-header-active {
  display: inline-flex;
  padding: 14px 1px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--Primaria, #9665df);
  background: linear-gradient(
      167deg,
      rgba(61, 34, 102, 0.7) 3.02%,
      rgba(34, 25, 72, 0.42) 24.84%,
      rgba(16, 19, 53, 0.24) 54.42%,
      rgba(11, 20, 69, 0.37) 77.21%,
      rgba(34, 45, 102, 0.7) 100%
    ),
    #000;
  position: fixed;
  right: 5%;
  top: 2%;
  width: 277px;
  padding-bottom: 20px;
  z-index: 2;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid var(--1-4, #69479c);
  background: linear-gradient(
      167deg,
      rgba(61, 34, 102, 0.7) 3.02%,
      rgba(34, 25, 72, 0.42) 24.84%,
      rgba(16, 19, 53, 0.24) 54.42%,
      rgba(11, 20, 69, 0.37) 77.21%,
      rgba(34, 45, 102, 0.7) 100%
    ),
    #000;
}

.nome {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.nome p {
  color: white;
  margin-top: 15px;
}

.cima {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  color: white;
}
.cima-p {
  margin-left: 15px;
  color: #fff;
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.meio {
  display: flex;
  align-items: center;
  width: 80%;
  gap: 5px;
  color: var(--30, #e6e6e6);
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.foto-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 28px;
  border: 3px solid var(--Primaria, #9665df);
  margin: 0 auto;
  color: #474747;
  font-family: "minhaFonte";
  font-size: 31.395px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nome-info p {
  color: var(--Terciaria, #fff);
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.nome-info .email {
  color: #a3a3a3;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
