/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: fontCustom;
    src: url('./assets/fonteProjetoLinks.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: fontCustom;
}

body {
    background-color: #EDEBF0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --dialog-surface-background: transparent;
  --dialog-surface-color: inherit;
}

/* Eu forcei o Material a largar o fundo branco aqui porque ele estava sabotando meu modal roxo. */
.cdk-overlay-pane .mat-mdc-dialog-surface {
  background: transparent !important;
  box-shadow: none !important;
}

.logo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.mdc-label{
  color: white;
}
.mat-mdc-radio-button.mat-accent{
  --mdc-radio-selected-icon-color: #864FD9;
  --mdc-radio-selected-focus-icon-color: #864FD9;
  --mdc-radio-selected-hover-icon-color: #864FD9;
  --mdc-radio-selected-pressed-icon-color: #864FD9;
  --mat-radio-checked-ripple-color: #864FD9;
}

.mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background{
  background-color: transparent !important;
  border-color: #ffff !important;
}

.mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
  border-color: #ffff !important;
}


.logo img{
  width: 159.091px;
  height: 50px;
  margin-bottom: 15px;
}
.logo h3{
  width: fit-content;
}
.mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:not(:checked)+.mdc-radio__background .mdc-radio__outer-circle{
  border-color: #767676 !important;
}

.mat-accent {
    --mat-option-selected-state-label-text-color: transparent !important;
    --mdc-checkbox-selected-focus-state-layer-color: transparent !important;
    --mdc-checkbox-selected-focus-state-layer-color: transparent !important;
    --mdc-checkbox-selected-hover-state-layer-color: transparent !important;
    --mdc-checkbox-selected-pressed-state-layer-color: transparent !important;
    --mdc-checkbox-selected-focus-icon-color: transparent !important;
    --mdc-checkbox-selected-hover-icon-color: transparent !important;
    --mdc-checkbox-selected-icon-color: transparent !important ;
    --mdc-checkbox-selected-pressed-icon-color: transparent !important;
}

.mat-step-icon {
  background-color: #442770 !important;
}

html{
   --mat-stepper-line-color: #442770 !important;
   --mat-stepper-header-selected-state-icon-background-color: #7C4CC6 !important;
}

.mat-step-icon-state-number {
  background-color: #442770 !important;
}
.mat-step-icon-selected {
  background-color: #7C4CC6 !important;
}

.mat-stepper-horizontal-line {
  width: 385px !important;
  margin: 0 -25px !important;
  border-top-width: 2.5px !important;
}


