<!-- <form [formGroup]="redefinirSenha">

  <label for="nova-senha">Nova Senha: </label>
  <input id="senha" type="text" formControlName="nova_senha">

  <label for="confirmar-senha">Confirmar senha: </label>
  <input id="confirmar-senha" type="text" formControlName="confirmar_senha">
   <button (click)="submit()">Confirmar</button>
</form> -->

<div class="container">
        <div class="senha-esquerda">
            <img src="../../../assets/imgs/Capa de login (2).svg" alt="capa login" class="image-login">
        </div>
        <div class="senha-direita">
            <div class="card-senha">
                <h1>Redefinir sua senha</h1>
                <p>Mínimo 8 caracteres</p>
                <form id ="form" class="forms" [formGroup]="redefinirSenha">
                    <div class="senha-conteudo">
                        <label for="nova-senha">Nova senha</label>
                        <input type="password" id="senha" name="senha" placeholder="Digite sua senha" formControlName="nova_senha">
                    </div>

                    <div class="senha-conteudo">
                        <label for="confirmar-senha">Confirmar nova senha</label>
                        <input type="password" id="senha" name="senha" placeholder="Digite sua senha" formControlName="confirmar_senha">
                    </div>

                    <div class="senha-conteudo">
                        <div class="buttons">
                            <button class="botao-redefinir" (click)="submit()">Redefinir</button>
                            <button class="botao-cancelar">Cancelar</button>
                        </div> 
                    </div>

                </form>
            </div>
        </div>
</div>